/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    height:20px;
    width:20px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #47a358; 
    height:20px;
    width:20px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }